  
  <div class="pt-3 mt-4  row row-cols-1 row-cols-md-3 g-1">
    <% data1.forEach((dt, i) => { %>
    <div class="col">
      <div class="card h-100">
        <img src="<%= dt.cover %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= dt.product_name %></h5>
            <p class="card-text"><%= dt.description %></p>
        </div>
        <div class="card-footer bg-light">
            <div class="row row-cols-1">
          <% if(i%2!=0) {%> 
            <div class="col-6">
                <small class="text-primary">Sponsored Ad</small>
            </div>
            <div class="col-6 text-end">
                <%= dt.likes %> &nbsp;<img src="images/heart.png" width="15">
                &emsp;<img src="images/tag_b.png" width="15">
                &emsp;<img src="images/share.png" alt="" width="15">    
            </div>           
          <% }else{ %>
            <div class="col-6">
                
            </div>
            <div class="col-6 text-end">
                <%= dt.likes %> &nbsp;<img src="images/heart.png" width="15">
                &emsp;<img src="images/tag_l.png" width="15">
                &emsp;<img src="images/share.png" alt="" width="15">
            </div>
          <% } %>  
        </div>
        </div>
      </div>
    </div>
    <% }) %> 
  </div>